.bold_text_bamini {
	font-family: Bamini;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.normal_text_bamini {
	font-family: Bamini;
	font-size: 14px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
@MEDIA print {
	.print {
		display: none;
	}
}