body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.hide {
	display:none;
}
.show {
	display:block;
}
.table_blue {
	border: 1px solid #0099FF;
}
.table_black {
	border: 1px solid #000000;
}
.table_grey {
	border: 1px solid #999999;
}
.tbl_grey  td { white-space: nowrap;
border: 1px solid #999999;}
  div.dataTables_wrapper {
        width: 1500px;

      
    }
    .datatable-scroll {
    overflow-x: auto;
    overflow-y: visible;
}

.text_box {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	height: 15px;
	border: 1px solid #666666;
}
.button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	border: 1px solid #000000;
	height: 18px;
	background-color: #BED3F7;
}
.combo_box {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	height: 18px;
	border: 1px solid #000000;
}
.table_border {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	border: 1px solid #000000;
	padding-left: 10px;
	margin: 1px;
}
.button_blue_bg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	height: 22px;
	background-image: url(../images/ButBg.png);
	width: 52px;
	background-repeat: no-repeat;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.text_box_right_align {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	height: 15px;
	border: 1px solid #666666;
	text-align: right;
}
.table_blue_text {
	border: 1px solid #0099FF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}

@MEDIA print {
	.print {
		display: none;
	}
	/* aarthip added on 19may23 for watermark */
	#bg-text
	{
    color:#7d7e80;
    font-size:80px;
    transform:rotate(340deg);
    -webkit-transform:rotate(325deg);  
    margin-top: 5em; 
    margin-left: 1.7em;
    opacity:15%;
    
	}
	
.bg-text-areg
	{
    color:#7d7e80;
    font-size:80px;
    transform:rotate(340deg);
    -webkit-transform:rotate(325deg);  
    margin-top: 3em; 
    margin-left: 2em;
    opacity:15%;
    
	}
}
