body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.hide {
	display:none;
}
.name
{
	    white-space: nowrap;
	}
	
.show {
	display:block;
}
.normal_text_black {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-decoration: none;
	line-height: 17px;
}
.bold_text_black {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
}
.bold_text_black_width {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	width:70%
}
.titles {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	color: #003399;
	text-decoration: none;
}
.link_bold_text_white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
.normal_text_red {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #FF0000;
	text-decoration: none;
}
.normal_text_blue {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #0000CC;
	text-decoration: none;
}
.link_bold_text_blue {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #0066CC;
	text-decoration: none;
	font-weight: bold;
}
.titles_english {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.link_bold_text_blue_small {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #0066CC;
	text-decoration: none;
	font-weight: bold;
}
.normal_text_black_small {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	line-height: 17px;
}
@MEDIA print {
	.print {
		display: none;
	}
}